language = "cpp"
run="export CC=clang; export CXX=clang++; rm -rf ../build; mkdir -p ../build; cd ../build; cmake ../acc-cosc-1337-fall-2020-tyler-carr1/; make; cd test/homework_test/tic_tac_toe_test; ./hw_tic_tac_toe_tests -s;"